<div class="footer container-fluid">
    <div class="d-none d-md-block d-lg-block">
        <div class="row justify-content-md-center text-center">
            <div class="col-md-2">
                <div class="m-4">
                    <h5 class="text-white mb-3">Links 1</h5>

                    <ul class="footer-links">
                        <li>
                            <a mat-button class="footer-link" routerLink="/">Item 1</a>
                        </li>
                        <li>
                            <a mat-button class="footer-link" routerLink="/">Item 2</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2">
                <div class="m-4">
                    <h5 class="text-white mb-3">Links 2</h5>

                    <ul class="footer-links">
                        <li>
                            <a mat-button class="footer-link" routerLink="/">Item 1</a>
                        </li>
                        <li>
                            <a mat-button class="footer-link" routerLink="/">Item 2</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2">
                <div class="m-4">
                    <h5 class="text-white mb-3">Links 3</h5>

                    <ul class="footer-links">
                        <li>
                            <a mat-button class="footer-link" routerLink="/">Item 1</a>
                        </li>
                        <li>
                            <a mat-button class="footer-link" routerLink="/">Item 2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center m-0 p-3">Copyright &copy; {{year}} <a href="mailto:sergey.didenko.dev@gmail.com">{{'copyright' | translate}}</a></p>

</div>
