<div class="footer container-fluid mt-3">
    <div class="d-none d-md-block d-lg-block">
        <div class="row justify-content-md-center">

            <div class="col-md-3 text-center">
                <img class="w-40 m-3" src="/assets/images/logo_2.png"/>

                <h5>Senior Java Software Developer</h5>

                <small class="footer-text mt-2">JakartaEE, Spring, Hibernate, Angular/TypeScript, Android</small>

                <small class="footer-text mt-3">Phone +37379848712</small>
                <small class="footer-text">Email> sergey.didenko.dev@gmail.com</small>
            </div>

            <div class="col-md-2">
                <h6 class="text-white m-3">{{'global.menu.pages' | translate}}</h6>

                <ul class="footer-links">
                    <li>
                        <a mat-button class="footer-link" routerLink="/">{{'global.menu.home' | translate}}</a>
                    </li>
                    <li>
                        <a mat-button class="footer-link" routerLink="/about-page">{{'home.about-page.title' | translate}}</a>
                    </li>
                    <li>
                        <a mat-button class="footer-link" routerLink="/test-page">{{'home.test-page.title' | translate}}</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2">
                <h6 class="text-white m-3">{{'global.menu.project.title' | translate}}</h6>

                <ul class="footer-links">
                    <li>
                        <a mat-button class="footer-link" routerLink="/about-project-page">
                            {{'home.about-project-page.title' | translate}}
                        </a>
                    </li>
                    <li>
                        <a mat-button class="footer-link" href="https://doc.sergey-didenko.pro" target="_blank">
                            {{'global.menu.project.doc' | translate}}
                        </a>
                    </li>
                    <li>
                        <a mat-button class="footer-link" href="https://github.com/sergey-didenko/my-blog/projects/1" target="_blank">
                            {{'global.menu.project.board' | translate}}
                        </a>
                    </li>
                    <li>
                        <a mat-button class="footer-link" href="https://git.sergey-didenko.pro/my-blog" target="_blank">
                            {{'global.menu.project.src' | translate}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <p class="text-center m-0 p-3">Copyright &copy; {{year}} <a href="mailto:sergey.didenko.dev@gmail.com">{{'copyright' | translate}}</a></p>

</div>
