<div class="container">
    <div class="row">
        <div class="col-md-12 mt-3">
            <h1>{{'home.title' | translate}}</h1>

            <p>
                {{'home.text-1' | translate}}
                <a routerLink="/about-page"><strong>{{'home.link-name-1' | translate}}</strong></a>{{'home.text-2' | translate}}
            </p>

            <p>
                {{'home.text-3' | translate}}
                <a routerLink="/about-project-page"><strong>{{'home.link-name-2' | translate}}</strong></a>{{'home.text-4' | translate}}
                <br>
                {{'home.text-5' | translate}}
                <a href="https://git.sergey-didenko.pro/my-blog" target="_blank"><strong>{{'home.link-name-3' | translate}}</strong></a>,<br>
                {{'home.text-6' | translate}}
            </p>

        </div>

        <div class="col-md-12 mt-3 mb-md-5">
            <h2>{{'home.content.title' | translate}}</h2>

            <div class="row justify-content-md-center mt-3">
                <div class="col-md-2 pt-3 pb-3 pl-5 pr-5">
                    <img class="w-100" src="/assets/images/tech/java.png"/>
                </div>
                <div class="col-md-2 pt-3 pb-3 pl-5 pr-5">
                    <img class="w-100" src="/assets/images/tech/spring.png"/>
                </div>
                <div class="col-md-2 pt-3 pb-3 pl-5 pr-5">
                    <img class="w-100" src="/assets/images/tech/hibernate.png"/>
                </div>
                <div class="col-md-2 pt-3 pb-3 pl-5 pr-5">
                    <img class="w-100" src="/assets/images/tech/angular.png"/>
                </div>
                <div class="col-md-2 pt-3 pb-3 pl-5 pr-5">
                    <img class="w-100" src="/assets/images/tech/mysql.png"/>
                </div>
            </div>

            <div class="row justify-content-md-center mt-md-5">
                <div class="col-md-2 pt-3 pb-3 pl-5 pr-5">
                    <img class="w-100" src="/assets/images/tech/typescript.png"/>
                </div>
                <div class="col-md-2 pt-3 pb-3 pl-5 pr-5">
                    <img class="w-100" src="/assets/images/tech/javascript.png"/>
                </div>
                <div class="col-md-2 pt-3 pb-3 pl-5 pr-5">
                    <img class="w-100" src="/assets/images/tech/gradle.png"/>
                </div>
                <div class="col-md-2 pt-3 pb-3 pl-5 pr-5">
                    <img class="w-100" src="/assets/images/tech/apache.png"/>
                </div>
                <div class="col-md-2 pt-3 pb-3 pl-5 pr-5">
                    <img class="w-100" src="/assets/images/tech/tomcat.png"/>
                </div>
                <div class="col-md-2 pt-3 pb-3 pl-5 pr-5">
                    <img class="w-100" src="/assets/images/tech/wildfly.png"/>
                </div>
            </div>
        </div>
    </div>
</div>
