<div>
    <div class="row">
        <div class="col-md-4">
            <span class="img-fluid rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>{{'error.title' | translate}}</h1>

            <div [hidden]="!errorMessage">
                <div class="alert alert-danger">{{errorMessage}}</div>
            </div>
            <div [hidden]="!error403" class="alert alert-danger">{{'error.http.403' | translate}}</div>
            <div [hidden]="!error404" class="alert alert-danger">{{'error.http.404' | translate}}</div>
        </div>
    </div>
</div>
